@font-face {
  font-family: "Cuprum";
  src:
    url(../fonts/cuprum.woff2) format("woff2"),
    url(../fonts/cuprum.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  src:
    url(../fonts/cuprumbold.woff2) format("woff2"),
    url(../fonts/cuprumbold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  src:
    url(../fonts/cuprumitalic.woff2) format("woff2"),
    url(../fonts/cuprumitalic.woff) format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Cuprum";
  src:
    url(../fonts/cuprumbolditalic.woff2) format("woff2"),
    url(../fonts/cuprumbolditalic.woff) format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src:
    url(../fonts/ptsans.woff2) format("woff2"),
    url(../fonts/ptsans.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src:
    url(../fonts/ptsansbold.woff2) format("woff2"),
    url(../fonts/ptsansbold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --basic-green: #63A63E;
  --basic-red: #EE3643;
  --basic-grey: #32425C;
  --basic-lightgrey: #C5C5C5;
  --basic-white: #FFFFFF;
  --basic-black: #000000;

  --bright-green: #5FBB2D;
  --dark-red: #CA2C37;
  --darker-red: #BA2732;
  --dark-grey: #293449;
  --darker-grey: #1D2739;
  --transp-03-white: rgba(255, 255, 255, 0.3);
  --transp-03-lightgrey: rgba(197, 197, 197, 0.3);
  --transp-06-lightgrey: rgba(197, 197, 197, 0.6);

  --background-yellow: #F7F3EC;
  --background-cyan: #F1F5F7;

  --special-yellow: #FFBF47;
  --special-cyan: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-green: #8ED78F;
}

/* GLOBAL */

.page-body {
  min-width: 940px;
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

h2 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BUTTONS */

.button {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
  /* padding: 10px 20px; */
}

.secondary-button {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.outline-button {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: transparent;
  border: 1px solid var(--transp-06-lightgrey);
}

/* HEADER - Main & Top */

.main-header {
  background-color: var(--background-cyan);
}

.header-top {
  background-color: var(--dark-grey);
}

.header-top__logo {
  background-color: var(--basic-red);
}

.header-top__search input {
  font: inherit;
  color: var(--basic-white);
  background-color: transparent;
  border: none;
}

.header-top__user-menu {
  list-style: none;
}

.header-top__user-menu a {
  font: inherit;
  color: var(--basic-white);
}

/* HEADER - Middle */

.header-middle__subtitle {
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.header-middle__tel {
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}

.header-middle__address {
  color: var(--basic-grey);
  font-size: 14px;
}

.header-middle__profile-button {
  color: var(--basic-black);
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
}

.header-middle__profile-submenu {
  list-style: none;
}

.header-middle__profile-submenu a {
  color: var(--basic-grey);
  font-size: 16px;
  line-height: 18px;
}

/* HEADER - Bottom/Navigation */

.navigation {
  background-color: var(--basic-grey);
}

.navigation__list {
  list-style: none;
}

.navigation__list a {
  font: inherit;
  color: var(--basic-white);
}

/*
  ====================
  ==== INDEX PAGE ====
  ====================
*/

/* PROMO SECTION */

.promo {
  color: var(--basic-white);
}

.promo h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 14px;
}

.promo-slider h3 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.promo__list,
.promo-slider__list {
  list-style: none;
}

.promo__item .button {
  background-color: var(--transp-03-white);
}

.promo__item_yellow {
  background-color: var(--special-yellow);
}

.promo__item_cyan {
  background-color: var(--special-cyan);
}

.promo__item_lilac {
  background-color: var(--special-lilac);
}

.promo__item_green {
  background-color: var(--special-green);
}

.promo-slider__item {
  background-color: var(--basic-grey);
}

.promo-slider__item_drills {
  background-image: url(../img/slider-drills.jpg);
}

.promo-slider__item_perfs {
  background-image: url(../img/slider-perforators.jpg);
}

.promo-slider__item_drills,
.promo-slider__item_perfs {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

/* POPULAR PRODUCTS */

.popular__header-wrapper {
  background-color: var(--background-yellow);
}

.products {
  list-style: none;
}

.products__card {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  background-color: var(--basic-white);
  border: 1px solid var(--transp-06-lightgrey);
}

.products__card h3 {
  font-size: 18px;
  line-height: 20px;
}

.products__price,
.products__old-price{
  font-size: 17px;
  line-height: 18px;
}

.products__old-price {
  color: var(--basic-lightgrey);
  text-decoration: line-through;
}

.products__buy-button,
.products__bookmark-button {
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  background-color: var(--basic-green);
  color: var(--basic-white);
}

.products__bookmark-button {
  background-color: transparent;
  color: var(--basic-grey);
}

/* BRANDS */

.brands__header-wrapper {
  background-color: var(--background-yellow);
}

.brands__list {
  list-style: none;
}

/* SERVICES */

.services {
  background-color: var(--background-cyan);
}

.services__slogan {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.tabs__controls,
.tabs__content {
  list-style: none;
}

.tabs__controls a {
  background-color: var(--basic-grey);
  color: var(--basic-white);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}

.tabs__item h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.tabs__item p {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/* ABOUT COMPANY */

.about-contacts p {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-company__partners {
  list-style: none;
}

/*
  ====================
  === CATALOG PAGE ===
  ====================
*/

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: var(--basic-black);
  font-size: 13px;
  line-height: 18px;
}

.page-title {
  color: var(--basic-grey);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  background-color: var(--background-cyan);
}

/* FILTER */

.filter {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

.filter h2 {
  font-size: 13px;
  line-height: 18px;
  background-color: var(--background-yellow);
}

.filter__form ul {
  list-style: none;
}

.filter__form fieldset {
  border: none;
}

.filter__form legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.filter__by-price input {
  background-color: var(--background-yellow);
  border: 0;
}

.filter__by-brands label,
.filter__by-power-supply label {
  font-size: 15px;
  line-height: 19px;
}

/* SORTING */

.sorting {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  background-color: var(--background-yellow);
}

.sorting h2,
.sorting a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting ul {
  list-style: none;
}

.sorting a {
  color: var(--basic-lightgrey);
  text-decoration: underline dotted var(--basic-red);
}

.sorting a:not([href]) {
  color: var(--basic-red);
  text-decoration: none;
}

/* PAGINATION */

.pagination {
  list-style: none;
}

.pagination a {
  border-radius: 2px;
}

/* ADDITIONAL INFO */

.additional-info {
  background-color: var(--background-cyan);
}

.additional-info p {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/* FOOTER */

.main-footer {
  background-color: var(--basic-grey);
  color: var(--basic-white);
}

.main-footer ul {
  list-style: none;
}

.main-footer a {
  color: inherit;
}

.footer-top__logo {
  background-color: var(--basic-red);
}

.footer-bottom {
  background-color: var(--dark-grey);
}

.footer-middle__categoties-menu a,
.footer-bottom__dev-info a {
  color: var(--special-yellow);
}

/* POPUP FORM */

.popup-form__wrapper input,
.popup-form__wrapper textarea {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
  border: 2px solid var(--basic-lightgrey);
  border-radius: 2px;
}

/* POPUP ADD TO CART */

.add-to-cart {
  background-color: var(--transp-03-lightgrey);
}

.add-to-cart h2 {
  font-size: 24px;
  font-weight: 700;
  background-color: var(--basic-white);
}
